<h2 class="visuallyhidden"><%= s.title %></h2>
<!--<% for p in 1..s.data.total %>
  --><a class="photo photo--<%= p %>" href="<%= images_dir %>/gallery/<%= p %>.jpg" style="background-image:url(<%= images_dir %>/gallery/thumb-<%= p %>.jpg)" data-js="open-lightbox">
    <span class="visuallyhidden">Photo number <%= p %></span>
  </a><!--
<% end %>-->